@import "../../../sass/variables.scss";
@import "../../../sass/mixins.scss";

//* hero-page
.hero-page {
  padding: 80px 0;
  width: 100%;
  height: 320px;
  background-image: url(../../../assets/icon/hero-bg.jpeg);
  background-color: #f6f6f6;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
}

.hero-content__title {
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: 800;
}

.hero-page__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.breadcrumb {
  @include list-unstyled;
  display: flex;
}

.breadcrumb__item {
  display: flex;

  &:last-child {
    margin-right: 0;
  }

  &:not(:last-child)::after {
    margin-left: 12px;
    margin-right: 12px;
    width: 2px;
    height: 100%;
    background-color: $color-text;
    content: "";
  }
}

.breadcrumb__link {
  font-size: 18px;
  font-weight: 600;
  color: $color-text;
  display: inline-block;
  text-decoration: none;

  &--active{
    color: $green-cl;
  }
}

@include breakpoint-down(1200px){
  .hero-page{
    height: 260px;
  }
}

@include breakpoint-down(1080px){
  .hero-page{
    height: 200px;
  }

  .hero-content__title{
    margin-bottom: 12px;
    font-size: 20px;
  }

  .breadcrumb__link{
    line-height: 14px;
    font-size: 15px;
  }

  .breadcrumb__item:not(:last-child)::after{
    width: 1px;
    margin-right: 8px;
    margin-left: 8px;
  }
}

@include breakpoint-down(640px){
  .hero-page{
    height: 150px;
  }
}


@include breakpoint-down(400px){
  .hero-page{
    height: 110px;
    padding: 40px 0;
  }

  .hero-content__title{
    font-size: 16px;
  }

  .breadcrumb__link{
    line-height: 12px;
    font-size: 12px;
  }
}
