@import "../../sass/variables.scss";
@import "../../sass/mixins.scss";

.contact {
  padding: 80px 0;
  justify-content: center;
  margin: auto;
}

.contact__list {
  @include list-unstyled;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.contact__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px 40px;
  width: calc(33.3% - 20px);
  border-right: 1px dotted $border;

  &:last-child {
    border-right: none;
  }
}

.item-info {
  min-height: 90px;
  width: 100%;
}

.item-holder {
  margin: 0 auto 30px;
  width: 50px;
  height: 50px;
  border: 1px dotted $green-cl;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-contact__name {
  margin-bottom: 10px;
  color: $green-cl;
  font-size: 18px;
  font-weight: 800;
}

.item-contact__text {
  margin: 0 auto;
  color: $grey-cl;
  width: 80%;
}

.item-contact__link {
  text-decoration: none;
  color: $grey-cl;
}

.item-contact__icon {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

@include breakpoint-down(980px) {
  .contact__item {
    padding: 15px 30px;
  }
  .item-contact__name {
    margin-bottom: 6px;
    font-size: 16px;
  }

  .item-contact__text,
  .item-contact__link {
    font-size: 12px;
  }
}

@include breakpoint-down(840px) {
  .contact__item {
    padding: 10px 5px;
    margin-right: 10px;
    border: 1px dotted $border;
    border-radius: 12px;

    &:last-child {
      border: 1px dotted $border;
    }
  }

  .item-info {
    min-height: 75px;
  }
}

@include breakpoint-down(680px) {
  .contact__list {
    flex-direction: column;
    height: 100%;
  }

  .contact__item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .item-info {
    min-height: 75px;
  }
}
