@import "../../sass/variables.scss";
@import "../../sass/mixins.scss";

//* reason-section
.reason {
  padding: 50px 0;
}

.reason__list {
  @include list-unstyled;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.slick-slider.slick-initialized {
  width: 100%;
}

.reason__item {
  min-height: 120px;
  padding: 20px 25px;
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  width: calc(25% - 15px);
  min-height: 130px;
  border-radius: 20px;
}

.reason__item-icon {
  margin-right: 15px;
  width: 42px;
  height: 42px;
  object-fit: contain;
}

.reason-desc__title {
  width: 100%;
  margin-bottom: 10px;
  font-size: 21px;
  color: $color-text;
}

.reason-desc__time {
  color: $secondary;
}

//* news-section &&&& best-seller &&&& blogs *//
.news,
.best,
.blog {
  padding: 80px 0;
}
.news__detail,
.best__detail,
.blog__detail {
  margin-bottom: 35px;
  text-align: center;
}

.news__detail-title,
.best__detail-title,
.blog__detail-title {
  @include title;
}

.news__detail-text,
.best__detail__text,
.blog__detail-text {
  width: 100%;
  font-size: 16px;
  color: $color-text;
}

.blog__card {
  margin-bottom: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-blog__box {
  width: calc(100% - 15px);
  height: 100%;
  text-align: center;
  border-radius: 20px;
  border: 1px solid transparent;
  transition: all 0.4s ease;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    border: 1px solid $border;
  }
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-blog__box-head {
  position: relative;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.card-blog__box-img {
  width: 100%;
  opacity: 0.7;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card-blog__box-body {
  padding: 30px 15px;
}

.card-blog__box-date {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $green-cl;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  color: #fff;
}

.card-blog__box-day,
.card-blog__box-month {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
}

.card-blog__box-title {
  width: 100%;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 700;
}

.card-blog__box-text {
  width: 100%;
  color: $grey-cl;
}

.slick-dots li button::before {
  color: $green-cl !important;
}

.slick-arrow.slick-prev,
.slick-arrow.slick-next {
  display: none !important;
}

//* reason mobile
@include breakpoint-down(1080px) {
  .reason-desc__title {
    font-size: 16px;
    margin-bottom: 6px;
  }
  .reason__item {
    min-height: 115px;
    padding: 12px 16px;
  }

  .reason__item-icon {
    width: 34px;
    height: 34px;
  }
}

@include breakpoint-down(1024px) {
  .card-blog__box {
    border: 1px solid $border;
  }
}

@include breakpoint-down(980px) {
  .news {
    padding: 50px 0;
  }

  .reason__list {
    margin-top: -8px;
    margin-bottom: -8px;
  }

  .reason__item {
    width: calc(50% - 10px);
    margin-top: 8px;
    margin-bottom: 8px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .reason__item-icon {
    margin-right: 0;
    margin-bottom: 15px;
  }
}

@include breakpoint-down(780px) {
  .news,
  .best,
  .blog {
    padding: 40px 0;
  }
  .news__detail,
  .best__detail,
  .blog__detail {
    margin-bottom: 25px;
    text-align: center;
  }

  .news__detail-title,
  .best__detail-title,
  .blog__detail-title {
    margin-bottom: 25px;
    font-size: 25px;

    &:before {
      bottom: -15px;
      width: 180px;
      height: 14px;
    }
  }

  .card-blog__box-body{
    padding: 22px 12px;
  }

  .card-blog__box-title{
    font-size: 15px;
    margin-bottom: 10px;
  }

  .card-blog__box-text{
    font-size: 12px;
  }

  .news__detail-text,
  .best__detail__text,
  .blog__detail-text {
    width: 100%;
    font-size: 12px;
  }

  .card-blog__box-date {
    top: 12px;
    left: 12px;
    padding: 10px;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }

  .card-blog__box-day,
  .card-blog__box-month {
    display: inline-block;
    font-size: 14px;
  }
}

@include breakpoint-down(480px) {
  .reason__item-icon {
    width: 25px;
    height: 25px;
  }

  .reason-desc__title {
    font-size: 14px;
    line-height: 12px;
  }

  .reason-desc__time {
    font-size: 12px;
  }
}

@include breakpoint-down(390px) {
  .reason__item {
    width: 100%;
  }
}
