@import "../../mixins.scss";
@import "../../variables.scss";

.card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.left-arrow-card {
  position: absolute;
  top: 0;
  right: -30px;
  bottom: 0;
  margin: auto;
  background-image: url(../../assets/icon/forw.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  width: 20px;
  height: 20px;
  display: inline-block;
  cursor: pointer;
}

.right-arrow-card {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -30px;
  margin: auto;
  background-image: url(../../assets/icon/back.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 20px;
  height: 20px;
  display: inline-block;
  cursor: pointer;
}

.box-card {
  width: calc(100% - 15px);
  border-radius: 20px;
  padding: 20px;
  border: 1px solid $border;
  text-align: center;
  transition: all 0.4s ease;

  &:hover {
    opacity: 0.7;
  }

  &:last-child {
    margin: 0;
  }
}

.head-card {
  margin-bottom: 20px;
}

.head-card{
  width: 100%;
}

.head-card__img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.body-card__title {
  margin-bottom: 6px;
  font-size: 16px;
  color: $green-cl;
}

.body-card__price {
  color: $grey-cl;
}


@include breakpoint-down(1310px){
  .left-arrow-card{
    top: auto;
    left: auto;
    right: 20px;
    bottom: -20px;
  }

  .right-arrow-card{
    top: auto;
    left: auto;
    bottom: -20px;
    right: 60px;
  }
}