@import "../../mixins.scss";
@import "../../variables.scss";

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.box-card {
  width: calc(100% - 15px);
  border-radius: 20px;
  padding: 20px;
  border: 1px solid $border;
  text-align: center;
  transition: all 0.4s ease;

  &:hover {
    opacity: 0.7;
  }

  &:last-child {
    margin: 0;
  }
}

.head-card {
  margin-bottom: 20px;
}

.head-card{
  width: 100%;
}

.head-card__img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.body-card__title {
  margin-bottom: 6px;
  font-size: 16px;
  color: $green-cl;
}

.body-card__price {
  color: $grey-cl;
}
