@import "../../sass/variables.scss";
@import "../../sass/mixins.scss";

.footer{
  width: 100%;
  padding: 35px 0;
  background-color: #f6f6f6;
  color: $color-text;
}

.footer.site-footer{
  background-color: $dark-color;
  color: #fff;
}

.footer.site-footer .info-footer__item-link{
  color: #fff;
}

.footer__logo{
  width: 80px;
  height: 40px;
  margin-bottom: 10px;
  object-fit: contain;
}

.footer__wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info-footer__list{
  @include list-unstyled;
}

.info-footer__item{
  margin-bottom: 20px;
  display: flex;
  align-items: center;

  &:last-child{
    margin: 0;
  }
}

.info-footer__item-icon{
  margin-right: 18px;
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.info-footer__item-title{
  font-size: 14px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.info-footer__item-link{
  color: $color-text;
  display: inline-block;
  text-decoration: none;
}

.footer__socials-wrapper{
  display: flex;
  align-items: center;
}

.footer-socials__icon{
  width: 18px;
  height: 18px;
  object-fit: contain;
}

.socials__link{
  width: 18px;
  height: 18px;
}

.footer__socials-title{
  font-size: 14px;
  margin-right: 15px;
}

@include breakpoint-down (640px){
  .footer__wrapper{
    align-items: flex-start;
    justify-content: start;
    flex-direction: column;
  }

  .footer__holder{
    width: 100%;
    margin-bottom: 20px;
  }

  .info-footer__item-link,.info-footer__item-title{
    font-size: 12px;
  }

  .info-footer__item-icon{
    margin-right: 12px;
    width: 16px;
    height: 16px;
  }
}