// COLORS
$color-text: #505e5c;
$color-bgi: #9eb3ae;
$main-bgi: #f8fffd;
$light-green: #e2fff0;
$primary-color: #f1fffb;

// FONTS
$font-roboto: 'Roboto', sans-serif;
$font-main: 'Nunito', sans-serif;